<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>[不说话]</key>
	<string>e_bushuohua.png</string>
	<key>[不相信]</key>
	<string>e_buxiangxin.png</string>
	<key>[吃惊]</key>
	<string>e_chijing.png</string>
	<key>[大汗]</key>
	<string>e_dahan.png</string>
	<key>[呆]</key>
	<string>e_dai.png</string>
	<key>[大哭]</key>
	<string>e_daku.png</string>
	<key>[飞吻]</key>
	<string>e_feiwen.png</string>
	<key>[鬼脸]</key>
	<string>e_guilian.png</string>
	<key>[害怕]</key>
	<string>e_haipa.png</string>
	<key>[可爱]</key>
	<string>e_keai.png</string>
	<key>[咧嘴笑]</key>
	<string>e_liezuixiao.png</string>
	<key>[流汗]</key>
	<string>e_liuhan.png</string>
	<key>[难过]</key>
	<string>e_nanguo.png</string>
	<key>[怒]</key>
	<string>e_nu.png</string>
	<key>[亲]</key>
	<string>e_qin.png</string>
	<key>[微笑]</key>
	<string>e_weixiao.png</string>
	<key>[眨眼]</key>
	<string>e_zhayan.png</string>
	<key>[自负]</key>
	<string>e_zifu.png</string>
	<key>[ok]</key>
	<string>e_ok.png</string>
	<key>[赞]</key>
	<string>e_zan.png</string>
	<key>[触底反弹]</key>
	<string>jj_chujifantan2.png</string>
	<key>[打老虎]</key>
	<string>jj_dalaohu.png</string>
	<key>[大涨]</key>
	<string>jj_dazhang.png</string>
	<key>[跌了]</key>
	<string>jj_diele2.png</string>
	<key>[地命海心]</key>
	<string>jj_diminghaixin.png</string>
	<key>[高大上]</key>
	<string>jj_gaodashang.png</string>
	<key>[高级黑]</key>
	<string>jj_gaojihei.png</string>
	<key>[够神秘]</key>
	<string>jj_goushenmi.png</string>
	<key>[关联交易]</key>
	<string>jj_guanlianjiaoyi.png</string>
	<key>[老鼠仓]</key>
	<string>jj_laoshucang2.png</string>
	<key>[利益链条]</key>
	<string>jj_liyiliantiao.png</string>
	<key>[你懂的]</key>
	<string>jj_nidongde.png</string>
	<key>[乔布斯]</key>
	<string>jj_qiaobusi2.png</string>
	<key>[天雷滚滚]</key>
	<string>jj_tianleigungun.png</string>
	<key>[网络思维]</key>
	<string>jj_wangluosiwei.png</string>
	<key>[又要刺激]</key>
	<string>jj_youyaociji2.png</string>
	<key>[又要涨价]</key>
	<string>jj_youyaozhangjia.png</string>
	<key>[中南海心]</key>
	<string>jj_zhongnanhaixin.png</string>
	<key>[资金紧张]</key>
	<string>jj_zijinjinzhang.png</string>
</dict>
</plist>
